@media (max-width: 660px) {
    .header__button {
        float: none;
    }
    .header__contacts {
        text-align: center;
    }
    .header__btn-menu{
        display: block;
    }
    .menu ul {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 17px;
        /*Этот выпадающий список может прятаться под следующий экран, а следующий экран
        это у нас слайдер. Там накидано много позиционирования, по этому присваиваем
        z-index, чтоб точно быть увереным, что ul-ка будет выше. */
        z-index: 50;
    }
    .menu li {
        display: block;
        text-align: center;
    }
    .menu a {
        display: block;
        background-color: #ffc222;
        border-top: 2px solid #FFFFFF;
        border-bottom: 2px solid #FFFFFF;
    }
    .menu li + li {
        padding-left: 0;
    }
}

@media (max-width: 655px) {
    .header__button {
        display: block;
    }
    .header__button:before {
        display: none;
    }

}

@media (max-width: 400px) {
    .header__button:before {
        display: block;
    }
}

@media (max-width: 383px) {
    .header__email {
        padding-right: 7px;
    }
}

@media (min-width: 660px) {
    .menu ul {
        display: block !important;
    }
}