* {
    box-sizing: border-box;
    outline: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 24px;
    line-height: 24px;
    color: #212020;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 18px;
    line-height: 24px;
    color: #212020;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

h4 {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #242424;
    letter-spacing: 0.5px;
}

h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
}

p{
    letter-spacing: 0.1px;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    /*Для адаптивности с телефонов, чтоб текст в угол не врезался*/
    padding: 0 15px;
   /*--------------------------------------------*/
}

body {
    font-family: 'PT Serif', serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #5e5e5e;
}

header {
    font-family: 'Roboto', sans-serif;
}

.header__top {
    background-color: #303030;
}

.header__button,
.footer__button {
    float: right;
    font-size: 16px;
    line-height: 36px;
    color: #1b1b1b;
    background-color: #ffc222;
    padding: 5px 20px 4px 50px;
    position: relative;
}

.header__button:before,
.footer__button:before {
    content: "\f0b1";
    font-family: 'icomoon';
    position: absolute;
    color: #1b1b1b;
    left: 22px;
}

/*Решение проблемы обтекания из за float. был добавлен общий родитель header__contacts*/
.header__contacts:after {
    content: "";
    clear: both;
    display: block;
}

.header__phone,
.header__email {
    color: #d3d2d2;
    letter-spacing: 0.25px;
    line-height: 45px;
    position: relative;
}

.header__phone {
    padding-left: 20px;
    padding-right: 30px;
}

.header__phone:before {
    content: "\f095";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}

.header__email {
    padding-left: 24px;
}

.header__email:before {
    content: "\f003";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}

.header__content {
    padding: 35px 0 23px;
}

.header__content-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li {
    display: inline-block;
}

.menu a {
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0 16px;
    transition: .2s;
}

.menu a:hover {
    border-color: #ffc222;
}

.menu li + li {
    padding-left: 13px;
}

/*--------------Fancybox modal window--------------------*/

.animated-modal {
    max-width: 550px;
    border-radius: 4px;
    overflow: hidden;

    transform: translateY(-50px);
    transition: all .7s;
}

#animatedModal {
    display: none;
}

/*------------------------------------------*/

/*---------------------Слайдер------------------------------*/

.slider {
    background-image: url(../img/slider-fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.slider__item-content {
    text-align: center;
    padding-top: 100px;
    max-width: 660px;
    margin: 0 auto;
}

.slider__title {
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.25px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 26px;
}

.slider__text {
    font-size: 18px;
    line-height: 24px;
    color: #d3d2d2;
    margin-bottom: 50px;
}

.slider__button a {
    color: white;
    transition: 0.3s background-color;
}

.slider__button a:hover {
    background-color: rgba(255, 194, 34, 0.5);
}

.default-button {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 8px 40px 8px 20px;
    border: 1px solid #ffc222;
    border-right: 20px solid #ffc222;
    position: relative;
    transition: .3s background-color;
}

.default-button:hover {
    background-color: rgba(255, 194, 34, 0.5);
}

.default-button:after {
    content: '\f105';
    font-family: 'icomoon';
    position: absolute;
    right: -12px;
    top: 50%;
    transform: translateY(-50%);
}

.slider__inner {
    position: relative;
}

.slick-button {
    position: absolute;
    z-index: 3;
    top: 70%;
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
    background: transparent;
    cursor: pointer;
    transition: .3s background-color;
}

.slick-button:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon';
    color: white;
}

.slick-next:before {
    content: "\f105";
}

.slick-prev:before {
    content: "\f104";
}

.slick-next {
    right: 0;
}

.slick-prev {
    left: 0;
}

.slick-next:hover {
    background-color: #ffc222;
}

.slick-prev:hover {
    background-color: #ffc222;
}
/*---------------------------------------------------------------*/

/*---------------------Наши услуги-----------------------------------*/

.services {
    padding: 40px 0px 30px;
}

.services__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-box {
    max-width: 520px;
    padding-left: 140px;
    position: relative;
}

.title-box:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100px;
    background-color: #ffc222;
    left: 0;
    top: 11%;
    transform: translateY(-11%);
}

.services-text,
.news-text {
    padding-top: 18px;
}

.services__button,
.news__button {
    color: #373636;
    line-height: 24px;
    letter-spacing: 0.25px;
    padding: 5px 38px;
    border: 3px solid #e6e6e6;
    transition: .3s background-color, border;
}

.services__button:hover,
.news__button:hover {
    background-color: #ffd10017;
    border: 3px solid #feff0061;
}

/*----------Наши услуги, 3 карточки------------*/

.services__items {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}

.services__item {
    max-width: 360px;
    text-align: center;
    padding: 30px 0 40px;
    box-shadow: 2px 4px 20px 0px #d6d6d6;
    position: relative;
    min-height: 375px;
}

.services__item + .services__item {
    margin-left: 30px;
}

.services__item-text {
    display: inline-block;
    padding: 24px 6% 80px;

}

.services__item img {
    padding-bottom: 25px;
}

.services__item-button {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}

.services__item-button .default-button {
    color: #373636;
}

.services__item-button .default-button:after {
    color: #ffffff;
}

.services__item-link {
    color: #050505;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #050505;
    line-height: 11px;
    margin-right: 60px;
    transition: .3s;
}

.services__item-link:hover {
    color: #b30505;
    border-bottom: 1px solid #ff001e;
}

/*----------------------------------------------------------------------------*/

/*----------------------About / о компании------------------------------------*/

.about {
    background: url("../img/about-fon.jpg") center / cover no-repeat;
    min-height: 300px;
}

.about__title-box h2 {
    color: #ffffff;
    padding: 35px 0 25px;
}

.about__title-box p {
    color: #d3d2d2;
    line-height: 24px;
}

.about__inner {
    max-width: 555px;
    padding-left: 15px;
}

.about__button {
    padding-top: 40px;
}

.about__button  a{
    color: #ffffff;
}

.about__button a:visited {
    color: #ffffff;
}

.about__button .default-button {
    padding-left: 25px;
    padding-right: 25px;
}

.about__button .default-button:after {
    color: #000000;
}

/*--------------------------------------------------------------------------------------------*/

/*--------------------Получить консультацию / consultation------------------------------------*/

.consultation {
    margin: 40px 0 40px;
}

.consultation__title-box p {
    padding-top: 12px;
    padding-bottom: 40px;
}

.consultation__inner {
    background-image: url(../img/consultation-human.png);
    min-height: 450px;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.consultation__form-box {
    max-width: 850px;
}

.consultation__form-inner {
    display: flex;
}

.consultation__form-left {
    max-width: 260px;
    padding-right: 30px;
    width: 100%;
}

.consultation__form-right {
    max-width: 555px;
    width: 100%;
    transform: translateY(-3px);
}

.consultation__form-inner input,
.consultation__form-inner textarea,
.consultation__form-inner label {
    display: block;
    width: 100%;
    transition: .3s;
}

.consultation__form-inner input:hover,
.consultation__form-inner input:focus,
.consultation__form-inner textarea:hover,
.consultation__form-inner textarea:focus {
    border: 2px solid #98980380;
}

.consultation__form-inner label {
    font-family: 'Roboto', sans-serif;
    line-height: 36px;
    color: #282828;
}

.consultation__form-inner label {
    margin-bottom: 2px;
}

.consultation__form-inner input {
    margin-bottom: 7px;
    margin-top: -3px;
    outline: none;
    height: 40px;
    padding: 0 10px;

    border: 1px solid #dedede;
    box-shadow: 1px 1px 10px 2px #e4e4e4;
}


/*--------------Настройка кнопки селекта-----------------*/

.jq-selectbox.jqselect {
    display: block;
    width: 100%;
}

.consultation__form-left .jq-selectbox__select {
    padding-left: 15px;
    height: 40px;
    border: 1px solid #dedede;
    box-shadow: 1px 1px 10px 2px #e4e4e4;
    transition: .3s;
}

.consultation__form-left .jq-selectbox__select:hover {
    border: 2px solid #98980380;
}

.consultation__form-left .jq-selectbox__trigger-arrow:before {
    position: absolute;
    font-family: 'icomoon';
    content: "\f105";
    right: 0;
    top: 0;
    right: 15px;
    transform: rotate(90deg);
}

.consultation__form-left .jq-selectbox__dropdown {
    width: 100%;
    margin: 2px 0 0;
    padding: 0;
    border: 1px solid #E6E6E6;
    background: #FFF;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

.consultation__form-left .jq-selectbox li {
    min-height: 18px;
    padding: 5px 15px 5px;
    color: #231F20;
    cursor: pointer;
}

.consultation__form-left .jq-selectbox__select-text {
    cursor: pointer;
}

.consultation__form-left .jq-selectbox li {
    transition: .4s;
}

.consultation__form-left .jq-selectbox li.selected {
    background-color: #b0b8be;
    color: #FFF;
}

.consultation__form-left .jq-selectbox li:hover {
    background-color: #f1cb6ad9;
    color: #FFF;
    border: 2px solid #98980380;
}

.consultation__form-left .jq-selectbox li.disabled {
    color: #AAA;
}

.consultation__form-left .jq-selectbox li.disabled:hover {
    background: none;
    cursor: pointer;
}
.consultation__form-left .jq-selectbox li.optgroup {
    font-weight: bold;
}

.consultation__form-left .jq-selectbox li.optgroup:hover {
    background: none;
    color: #231F20;
    cursor: pointer;
}

.consultation__form-left .jq-selectbox li.option {
    padding-left: 25px;
    cursor: pointer;
}

/*---------------------------------------------------------------*/

.consultation__form-inner textarea {
    outline: none;
    padding: 10px;
    height: 200px;
    resize: none;

    border: 1px solid #dedede;
}

.consultation__form-right button {
    background-color: transparent;
    color: #282828;
    cursor: pointer;
    padding-right: 25px;
    padding-left: 25px;
    float: right;
    margin-top: 37px;
}

/*---------------------------------------------------------------------*/

/*---------------------------Преимущества / advantages--------------------------------*/

.advantages {
    min-height: 285px;
    background-image: url("../img/advantages-fon.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
    padding-top: 55px;
}

.advantages-item p {
    line-height: 24px;
    color: #d3d2d2;
}

.advantages-item h3 {
    color: #ffffff;
    padding-top: 65px;
    padding-bottom: 10px;
}

.advantages__inner {
    display: flex;
    justify-content: space-between;
}


.advantages-item {
    max-width: 350px;
    text-align: center;
    position: relative;
}

.advantages-item + .advantages-item {
    margin-left: 10px;
}

.advantages-item:before {
    content: "\f00c";
    position: absolute;
    font-family: 'icomoon';
    font-size: 14px;
    padding: 9px 11px;
    color: #fff;
    border: 2px solid #ffc222;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

/*------------------------------------------------------------------*/

/*-------------------------Новости / news-------------------------*/

.news {
    margin-bottom: 110px;
    background-color: #f9f9f9;
}

.news__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news__slider-item h4{
    font-size: 18px;
    line-height: 24px;
    color: #242424;
    letter-spacing: 0.5px;
    padding-bottom: 10px;
}

.news__slider-text {
    letter-spacing: 0.1px;
    padding-bottom: 25px;
}

.news__slider-author {
    color: #212020;
}

.news__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 45px;
}

.news__slider{
    max-width: 555px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.13);
    padding: 60px 35px 45px 70px;
    margin-right: 15px;
}

.news__slider:before {
    font-family: icomoon;
    content: "\f10e";
    position: absolute;
    top: 0;
    font-size: 16px;
    width: 65px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background-color: #ffc222;
}

.news__blog {
    max-width: 260px;
    width: 100%;
    transition: .4s;
}

.news__blog:hover {
    box-shadow: 0px 2px 18px -2px #00000073;
    padding-left: 3px;
}

.news__blog:first-child {
    margin-right: 13px;
    margin-bottom: 20px;
}

.news__images {
    position: relative;
}

.news__date {
    position: absolute;
    background-color: #ffc222;
    height: 55px;
    width: 50px;
    color: #fff;
    text-align: center;
    padding-top: 30px;
    font-weight: 700;
    top: 0px;
    left: 10px;
}

.news__blog h4 {
    padding: 12px 0;
    transition: .4s;
}

.news__blog p {
    color: #5e5e5e;
    transition: .4s;
}

.news__slider .slick-button {
    top: auto;
    bottom: -118px;
    border: 1px solid #777777;

}

.news__slider .slick-button:before {
    color: black;
}

.news__slider .slick-next {
    right: -37px;
}

.news__slider .slick-prev {
    left: auto;
    right: 20px;
}

.news__flex-wrap-container a {
    display: block;
}

.news__flex-wrap-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 552px;
    width: 100%;
}

/*------------------------------------------------------------------*/

/*------------------ФУТЕР / footer---------------------------------------*/

.footer__content {
    min-height: 340px;
    background-color: #595959;
}

.footer__info {
    max-width: 380px;
    width: 100%;
}

.footer__info h5{
    padding-bottom: 16px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

.footer__info p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #d3d2d2;
    padding-bottom: 28px;
}

.footer__button {
    float: left;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 29px;
}

.footer__map iframe{
    max-width: 630px;
    max-height: 250px;
}



.footer__copy {
    min-height: 42px;
    background-color: #303030;
}

.copy__text {
    text-align: center;
    font-size: 12px;
    line-height: 42px;
    color: #ffffff;
}