* {
    box-sizing: border-box;
    outline: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 24px;
    line-height: 24px;
    color: #212020;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 18px;
    line-height: 24px;
    color: #212020;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
}

p{
    letter-spacing: 0.1px;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    /*Для адаптивности с телефонов, чтоб текст в угол не врезался*/
    padding: 0 15px;
   /*--------------------------------------------*/
}

body {
    font-family: 'PT Serif', serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #5e5e5e;
}

header {
    font-family: 'Roboto', sans-serif;
}

.header__top {
    background-color: #303030;
}

.header__button {
    float: right;
    font-size: 16px;
    line-height: 36px;
    color: #1b1b1b;
    background-color: #ffc222;
    padding: 5px 20px 4px 50px;
    position: relative;
}

.header__button:before {
    content: "\f0b1";
    font-family: 'icomoon';
    position: absolute;
    color: #1b1b1b;
    left: 22px;
}

/*Решение проблемы обтекания из за float. был добавлен общий родитель header__contacts*/
.header__contacts:after {
    content: "";
    clear: both;
    display: block;
}

.header__phone,
.header__email {
    color: #d3d2d2;
    letter-spacing: 0.25px;
    line-height: 45px;
    position: relative;
}

.header__phone {
    padding-left: 20px;
    padding-right: 30px;
}

.header__phone:before {
    content: "\f095";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}

.header__email {
    padding-left: 24px;
}

.header__email:before {
    content: "\f003";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}

.header__content {
    padding: 35px 0 23px;
}

.header__content-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li {
    display: inline-block;
}

.menu a {
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0 16px;
    transition: .2s;
}

.menu a:hover {
    border-color: #ffc222;
}

.menu li + li {
    padding-left: 13px;
}

/*--------------Fancybox modal window--------------------*/

.animated-modal {
    max-width: 550px;
    border-radius: 4px;
    overflow: hidden;

    transform: translateY(-50px);
    transition: all .7s;
}

#animatedModal {
    display: none;
}

/*------------------------------------------*/

/*---------------------Слайдер------------------------------*/

.slider {
    background-image: url(../img/slider-fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.slider__item-content {
    text-align: center;
    padding-top: 100px;
    max-width: 660px;
    margin: 0 auto;
}

.slider__title {
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.25px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 26px;
}

.slider__text {
    font-size: 18px;
    line-height: 24px;
    color: #d3d2d2;
    margin-bottom: 50px;
}

.slider__button a {
    color: white;
    transition: 0.3s background-color;
}

.slider__button a:hover {
    background-color: rgba(255, 194, 34, 0.5);
}

.default-button {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 8px 40px 8px 20px;
    border: 1px solid #ffc222;
    border-right: 20px solid #ffc222;
    position: relative;
    transition: .3s background-color;
}

.default-button:hover {
    background-color: rgba(255, 194, 34, 0.5);
}

.default-button:after {
    content: '\f105';
    font-family: 'icomoon';
    position: absolute;
    right: -12px;
    top: 50%;
    transform: translateY(-50%);
}

.slider__inner {
    position: relative;
}

.slick-button {
    position: absolute;
    z-index: 3;
    top: 70%;
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
    background: transparent;
    cursor: pointer;
    transition: .3s background-color;
}

.slick-button:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon';
    color: white;
}

.slick-next:before {
    content: "\f105";
}

.slick-prev:before {
    content: "\f104";
}

.slick-next {
    right: 0;
}

.slick-prev {
    left: 0;
}

.slick-next:hover {
    background-color: #ffc222;
}

.slick-prev:hover {
    background-color: #ffc222;
}
/*---------------------------------------------------------------*/

/*---------------------Наши услуги-----------------------------------*/

.services {
    padding: 50px 0px 30px;
}

.services__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services__title-box {
    max-width: 520px;
    padding-left: 140px;
    position: relative;
}

.services__title-box:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100px;
    background-color: #ffc222;
    left: 0;
    top: 11%;
    transform: translateY(-11%);
}

.services-text {
    padding-top: 18px;
}

.services__button {
    color: #373636;
    line-height: 24px;
    letter-spacing: 0.25px;
    padding: 5px 38px;
    border: 3px solid #e6e6e6;
}

/*----------Наши услуги, 3 карточки------------*/

.services__items {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}

.services__item {
    max-width: 360px;
    text-align: center;
    padding: 30px 0 40px;
    box-shadow: 2px 4px 20px 0px #d6d6d6;
    position: relative;
    min-height: 375px;
}

.services__item + .services__item {
    margin-left: 30px;
}

.services__item-text {
    display: inline-block;
    padding: 24px 30px 80px;

}

.services__item img {
    padding-bottom: 25px;
}

.services__item-button {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}

.services__item-button .default-button {
    color: #373636;
}

.services__item-button .default-button:after {
    color: #ffffff;
}

.services__item-link {
    color: #050505;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #050505;
    margin-right: 60px;
}


/*----------------------------------------------------------------------------*/